<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

<body>
  <div class="max-w-2xl mx-auto">
    <h2 class="text-2xl font-bold mb-6">
      <th:block th:if="${pet['new']}">New </th:block>
      Pet
    </h2>
    <form th:object="${pet}" class="space-y-6" method="post">
      <input type="hidden" name="id" th:value="*{id}" />
      <div class="space-y-4">
        <div class="form-group space-y-2 mb-4">
          <label class="block text-sm font-medium">Owner</label>
          <div class="p-2 bg-muted rounded-md">
            <span class="text-sm" th:text="${owner?.firstName + ' ' + owner?.lastName}" />
          </div>
        </div>
        <input
          th:replace="~{fragments/inputField :: input ('Name', 'name', 'text')}" />
        <input
          th:replace="~{fragments/inputField :: input ('Birth Date', 'birthDate', 'date')}" />
        <input
          th:replace="~{fragments/selectField :: select ('Type', 'type', ${types})}" />
      </div>
      <div class="flex justify-end">
        <button
          th:with="text=${pet['new']} ? 'Add Pet' : 'Update Pet'"
          data-component="button" type="submit" th:text="${text}">Add
          Pet</button>
      </div>
    </form>
  </div>
</body>

</html>
