<html>
<body>
  <form>
    <th:block th:fragment="input (label, name, type)">
      <div th:with="valid=${!#fields.hasErrors(name)}"
        th:class="${'form-group' + (valid ? '' : ' has-error')}"
        class="form-group space-y-2 mb-4">
        <label th:for="${name}" class="block text-sm font-medium" th:text="${label}">Label</label>
        <div class="relative">
            <div th:switch="${type}">
                <input th:case="'text'" data-component="input" type="text" th:field="*{__${name}__}" />
                <input th:case="'date'" data-component="input" type="date" th:field="*{__${name}__}"/>
            </div>
          <span th:if="${valid}"
            class="absolute right-3 top-3 text-green-500 fa fa-check"
            aria-hidden="true"></span>
          <th:block th:if="${!valid}">
            <span
              class="absolute right-3 top-3 text-destructive fa fa-times"
              aria-hidden="true"></span>
            <span class="help-inline text-destructive text-sm mt-1 block" th:errors="*{__${name}__}">Error</span>
          </th:block>
        </div>
      </div>
    </th:block>
  </form>
</body>
</html>
