<html>
<body>
  <form>
    <th:block th:fragment="select (label, name, items)">
      <div th:with="valid=${!#fields.hasErrors(name)}"
        th:class="${'form-group' + (valid ? '' : ' has-error')}"
        class="form-group space-y-2 mb-4">
        <label th:for="${name}" class="block text-sm font-medium" th:text="${label}">Label</label>

        <div class="relative">
          <select data-component="select" th:field="*{__${name}__}">
            <option th:each="item : ${items}" th:value="${item}"
              th:text="${item}">dog</option>
          </select>
          <span th:if="${valid}"
            class="absolute right-3 top-3 text-green-500 fa fa-check"
            aria-hidden="true"></span>
          <th:block th:if="${!valid}">
            <span
              class="absolute right-3 top-3 text-destructive fa fa-times"
              aria-hidden="true"></span>
            <span class="help-inline text-destructive text-sm mt-1 block" th:errors="*{__${name}__}">Error</span>
          </th:block>
        </div>
      </div>
    </th:block>
  </form>
</body>
</html>
